// {
//     "presets": [
//       "babel/preset-env",
//       [
//         // lệnh này dùng để hiểu code jsx của react
//         "babel/preset-react",
//         {
//           "runtime": "automatic"
//         }
//       ],
//       // lệnh này dùng để hiểu code typescript
//       "babel/preset-typescript"
//     ]
//   }
// {
//     "presets": ["babel-preset-env","react"]
// }
// { "presets": ["@babel/preset-env", "@babel/preset-react"] }
{
  // Sử dụng plugin Babel như babel-plugin-lodash để chỉ import những phần của Lodash cần thiết, giảm kích thước bundle
  "plugins": ["lodash"],
  "presets": [
    "@babel/preset-env",
    [
      // lệnh này dùng để hiểu code jsx của react
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    // lệnh này dùng để hiểu code typescript
    "@babel/preset-typescript",
    ["@babel/env", { "targets": { "node": 6 } }]
  ]
}
